*{
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: #FBEFEA;
}
header {
    background-color: #CAECDE;
    width: 100%;
}
header > img {
    height: 100px;
    width: 100%;
}
nav {
    background-color: #7B7B7B;
    border-color: #FBEFEA;
}
ul {

    padding:0;
}
li {

    padding: 9px 12px 12px 12px;
    border: 1px solid white;
}
li > a {

    color: white;
}
section > h3 {
    margin-top: 35px;
    margin-right: 10px;
    color: #D27868;
}
#nieuws {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}
article > h3 {
    margin-top: 30px;
    color: #D27868;
}
#instrumenten {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}
.plaatjes {
    width: 250px;
    height: 250px;
    display: block;
    margin: 10px auto 20px auto;
}
footer {
    background-color: #818081;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    text-align: center;

}
}
footer > h3 {
    margin-bottom: 20px;
}
footer > iframe {
    margin-bottom: 10px;
    margin-top: 5px
}
footer > p {
    margin-bottom: 5px;
}




/* Tablet resolutie */

@media all and (min-width: 700px) {

    #grid {
        display: grid;
        grid-template-columns: 40fr 60fr;
        grid-template-rows: 1fr;
    }
    body {
        font-family: 'Raleway', sans-serif;
        background-color: #FBEFEA;
    }
    header {
        background-color: #CAECDE;
        width: 100%;
    }
    header > img {
        height: 100px;
        width: 100%;
    }
    nav {
        background-color: #7B7B7B;
        border-color: #FBEFEA;
    }
    ul {

        padding:0;
    }
    li {

        display: inline-block;
        padding: 9px 12px 12px 12px;
        border: 0;
    }
    li > a {

        color: white;
    }
    section > h3 {
        margin-top: 35px;
        margin-right: 10px;
        color: #D27868;
    }
    #nieuws {
        width: 70%;
        text-align: left;
        margin-left: 40px;
        margin-right: 30px;
    }
    article > h3 {
        text-align: left;
        margin-top: 30px;
        color: #D27868;
    }
    #instrumenten {
        text-align: left;
        margin-left: 10px;
        margin-right: 30px;
    }
    .plaatjes {
        width: 100%;
        height: 50%;
        display: inline;
        margin: 10px auto 20px auto;
    }
    footer > iframe {
        margin-bottom: 10px;
        margin-top: 10px;
        width: 35%;
    }

}


/* Computer resolutie */

@media all and (min-width: 1000px) {

    #grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
    }
    body {
        font-family: 'Raleway', sans-serif;
        background-color: #FBEFEA;
    }
    header {
        background-color: #CAECDE;
        width: 100%;
    }
    header > img {
        height: 100px;
        width: 100%;
    }
    nav {
        background-color: #7B7B7B;
        border-color: #FBEFEA;
    }
    ul {

        padding:0;
    }
    li {

        display: inline-block;
        padding: 9px 12px 12px 12px;
        border: 0;
    }
    li > a {

        color: white;
    }
    #nieuws {
        width: 70%;
        text-align: left;
        margin-left: 40px;
        margin-right: 30px;
    }
    #instrumenten {
        text-align: left;
        margin-left: 10px;
        margin-right: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 50px;

    }
    .plaatjes {
        width: 100%;
        height: 50%;
        display: inline;
        margin: 10px auto 20px auto;
    }
    #footer_patch{
        margin-bottom: 200px;
    }
    footer > iframe {
        margin-bottom: 10px;
        margin-top: 10px;
        width: 35%;
    }
}
