* {
    /*border: dotted 1px grey;*/
    margin: 10px;
    align-self: center;
}
body {
    margin: 0;
    padding: 30px;
    font-family: sans-serif;
    font-size: 25px;
}
form {
    display: grid;
    grid-template-columns: 16% 34% 10% 40%;
}
h1 {
    grid-column: 1/5;
    font-size: 35px;
}
.eten {
    display: flex;
    grid-column: 4/5;
}
.textinputs {
    width: 300px;
}
#geslacht {
    grid-column: 2/5;
}
#ogen {
    grid-column: 2/5;
}
#datum {
    grid-column: 2/5;
}
#area {
    grid-column: 2/5;
}
button {
    width: 300px;
display: inline-block;
}

